/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
   ▄█   ▄█▄       ███        ▄████████    ▄████████  ▄████████    ▄█    █▄    
  ███ ▄███▀ ▀███████████▄   ███    ███   ███    ███ ███    ███   ███    ███   
  ███▐██▀        ▀███▀▀██   ███    ███   ███    ███ ███    █▀    ███    ███   
 ▄█████▀          ███   ▀   ███    ███  ▄███▄▄▄▄██▀ ███         ▄███▄▄▄▄███▄▄ 
▀▀█████▄          ███     ▀███████████ ▀▀███▀▀▀▀▀   ███        ▀▀███▀▀▀▀███▀  
  ███▐██▄         ███       ███    ███ ▀███████████ ███    █▄    ███    ███   
  ███ ▀███▄       ███       ███    ███   ███    ███ ███    ███   ███    ███   
  ███   ▀█▀       ███       ███    █▀    ███    ███ ████████▀    ███    █▀    
  ▀                                      ███    ███                           
*/
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
/* -------------------- Variables */
:root {
  --verdelima: #7ACC2D;
  --blanco: white;
  --negro: black;
  --col-width: 8.33333333333%;
}

.container {
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
}

.col-1 {
  width: var(--col-width);
}

.col-2 {
  width: calc(var(--col-width) * 2);
}

.col-3 {
  width: calc(var(--col-width) * 3);
}

.col-4 {
  width: calc(var(--col-width) * 4);
}

.col-5 {
  width: calc(var(--col-width) * 5);
}

.col-6 {
  width: calc(var(--col-width) * 6);
}

.col-7 {
  width: calc(var(--col-width) * 7);
}

.col-8 {
  width: calc(var(--col-width) * 8);
}

.col-9 {
  width: calc(var(--col-width) * 9);
}

.col-10 {
  width: calc(var(--col-width) * 10);
}

.col-11 {
  width: calc(var(--col-width) * 11);
}

.col-12 {
  width: calc(var(--col-width) * 12);
}

[class*="col-"] { /* selecciona los atributos class cuyos valores tenga una subcadena col-*/
  padding: 10px;
}

@media(max-width: 1000px){
  .row{
    display: inherit;
  }
  [class*="col-"] { /* selecciona los atributos class cuyos valores tenga una subcadena col-*/
    width: 100%;
  }
}
/* -------------------- Fin variables */

/* -------------------- vista principal */
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'New Tegomin', serif;
    background-color:  var(--verdelima) !important;
}

.logo_image img {
  width: 50px;
  height: 70px;
}

nav{
  display: flex !important;
  background-color: var(--verdelima);
  justify-content: space-between;
  align-items: center;
}

nav h2 A:link {text-decoration: none }
nav h2 A:visited {color: black;  font-family: arial; text-decoration: none }
nav h2 A:hover {color: black; font-family: arial; text-decoration: none }

nav h2{
  color:  var(--negro);
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 900;
}

nav h2 a:hover{
  color: var(--blanco);
}

nav ul{
    display: flex;
  }
  
nav li{
  padding-right: 40px;
  list-style: none;
}
  
nav li a{
  color: var(--negro);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
}
  
nav li a:hover{
  color: var(--blanco);
  text-decoration: none;
  font-weight: 700;
}

  /* ------------------------ Main section */


h1{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.main_section{
  padding: 10%;
  text-align: center;
}

.products{
  background-image: url("/assets/img/curve.png");
  height: 300px;
  background-size: cover;
  background-position: center top;
  display: flex;
}

.product{
  margin-top: -35px;

}

.product .content{
  background-color: var(--blanco);
  padding: 15px;
  box-shadow: 0 0 2px #797575;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}
  
  h2{
    margin-top: -15px!important;
    margin-bottom: 15px!important;
    font-size: 2rem!important;
    font-weight: bold!important;
  }

  p{
    margin-bottom: 30px !important;
  }

  .product .content:hover{
    box-shadow: 0 0 10px #7e8520;
  }

  .img_content {
      text-align: center;
      margin-top: -80px;
  }

  .img_content img{
    width: 150px;
    height: 150px;
  }

  .main_button {
    background-color:  var(--verdelima);;
    padding: 10px;
    font-size: 17px;
    color: var(--blanco);
    border: 30px;
    box-shadow: 0 0 2px #797575;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }

  .main_button:hover {
    background-color: #5e9e22;
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    box-shadow: 0 0 5px #7e8520;
  }

  /* Beneficios */

.beneficios{
  padding: 10%;
  display: flex;
}

.beneficio{
  text-align: center;
  padding: 20px;
}

h3{
  font-size: 2rem;
  font-weight: bold;
}

.beneficio img{
  width: 120px;
  height: 100px;
  max-height: 100px
}

.text_beneficio{
  text-align: justify;
  font-size: 1.5rem;
}

/* Mentions */
.mentions{
  display: flex;
  padding: 5%;
}

h2.mention_title{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.mention{
  padding: 10px;
}

.content_mention{
  box-shadow: 0px 0 2px 1px #166e22;
}

.content_mention img{
  height: 100%;
  width: 100%;
}

.mention .text{
  padding: 10px;
  font-size: 1.4rem;
}

/* ------------------------------------------- Footer */
footer{
  display: flex !important;
  justify-content: space-between;
  font-size: 12px;
  background-color: var(--negro);
  padding: 20px;
  color: var(--blanco);
}

/* ------------------------------------------- Mobile */

@media (max-width: 600px) {

nav ul{
  position: absolute;
  margin-top: 120px;
}

h1{
  margin-top: 40px!important;
}
  .products{
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: 50px;
  }
  .main_section{
    padding: 4%;
  }
  .beneficios, .mentions{
    display: inherit;
  }

  .option{
    margin-right: 10px;
  }

.option-mail{
  position: absolute;
  margin-top: 37px;

}
}
